*{
    box-sizing: border-box;
}
.e-card{
    width: 260px;
    height: 260px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 45px;
    position: relative;
}

.e-card img{
    width: 16.25rem;
    height: 9.1875rem;
    object-fit: cover;
}

.card-content h4{
    font-size: 12px;
    color: #333333;
    margin-left: 12px;
}

.o-apartamento{
    
    font-weight: 600;
}

.o-precio{
    margin-top: 1rem;
    font-weight: 500;
}
.o-area{
    margin-top: 0.5rem;
    font-weight: 500;
}

.card-content a{
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.75rem; 
    text-decoration: none;
    color: #2EB1E5;
    border: 1px solid #2EB1E5;
    padding-top: 6px;
    width: 70px;
    height: 33px;
    margin-top: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;   
    position: absolute;
    top: 181px;
    left: 175px;
}

.card-content a:hover {
    background-color: #2EB1E5;
    color: white;
  }