.d-Cchat{
    display: flex;
    align-items: center; 
    width: 350px;
    height: 70px;
    border-bottom: 1px solid #00000010;
}

.d-profile-pt{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 9px 10px 0px 30px;
    object-fit: cover;
}

.d-row{
    display: flex;
    align-items: center;
}

.d-column{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.d-text-Chat{
    font-size: 13px;
    margin: 0px 10px 0px 0px;
    text-align: left;
}