.d-contenedor{
    background-color: #FBFEFF;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 30px 0px 50px 0px;
}

.d-tittle-bar{
    width: 80%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.d-tittle-bar img{
    position: absolute;
    left: 10%;
}

.d-messages{
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.14);
    background-color: var(--white);
    height: 500px;
    display: flex;
}

.d-chats{
    border-right: 1px solid #00000010;
}

.d-center{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
   
}

.p-navbar
{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 30px 8px rgba(0, 0, 0, 0.61);
    border: solid 6px rgba(0, 0, 0, 0);
}