.d-contenedor{
    background-color: #FBFEFF;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 30px 0px 50px 0px;
}

.d-tittle-bar{
    width: 80%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-tittle-bar img{
    position: absolute;
    left: 10%;
}

.d-Posts{
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.14);
    background-color: var(--white);
    display: flex;
    padding: 20px 30px;
}

.d-Posts label{
    font-size: 0.9rem;
    font-weight: 500;
    text-align: left;
    margin: 1.5rem 0px 7px 0px;
}

.d-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.d-tipo{    
    right: 110px;
    margin: 0px 0px 10px 0px;
    font-size: 0.9rem;
    font-weight: 500;
}

.d-columns{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 40px 0px;
}

.d-content-inpt{
    width: 40%;
    margin-right: 3rem;
    margin-left: 4rem;
}

.d-btn{
    display: flex;
    width: 8rem;
    height: 6.5rem;
    border-radius: 5%;
    background-color: white;
    border: none;
    padding: 5px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    box-shadow: 0px 2px 8px #00000023;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;  
}

.d-column-inputs{
    width: 100%;     
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.d-column-inputs input{
    height: 2rem;
    width: 100%;
    border: 1px solid #D1D6D8;
    border-radius: 5px;
}

.d-column-inputs select{
    height: 25px;
    width: 100%;
    border: 1px solid #D1D6D8;
    border-radius: 5px;
}

#d-area-text{
    height: 60px;
}

.d-section{
    padding-top: 30px;
    text-align: left;
    width: 46%;
}

.d-section h1{
    font-size: 0.9rem;
    margin-top: 1rem;
    font-weight: 500;  
    padding-bottom: 10px;  
}

.d-columns-2{
    display: flex;
    flex-flow: column;
}

.d-btn-img{
    background-color: #2EB1E5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 6px 6px;
    margin-top: 15px;
    font-size: 13px;
    font-weight: 500; 
    color: white;
    font-family: 'Poppins', sans-serif;  
}

.d-btn-pub
{
    background-color: #2EB1E5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 8px 6px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500; 
    color: white;
    margin-left: 24rem;
    margin-top: 10rem;
    font-family: 'Poppins', sans-serif;  
}

.d-img-icon
{
    width: 2.5rem;
}

.p-navbar
{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 30px 8px rgba(0, 0, 0, 0.61);
    border: solid 6px rgba(0, 0, 0, 0);
}