.o-imageregister{
    background-image: url(../images/registerpic.png);
    background-size: 100% 100vh;    
    width: 36%;
    height: 100vh;
}

.o-contenido{
    display: flex;
}



.o-logoandform{    
  /*  background-color: red;*/
    margin: 5rem 0 0 15rem;
    min-width: 45rem;   
       
}

.o-registertext{
    margin-top: 5.25rem;
    color: #333333;
}
.o-text{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.o-text .o-crearcuentaempresa{
    color: #2eb1e5;
    font-weight: bold;
    text-decoration-line: none;
    margin-right: 2.5rem;
}



.o-formulario{
    width: 45rem;
   /* background-color: aquamarine;*/
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    
}



form h4{
    margin-top: 1rem;
}

.o-campo{
    width: 20.75rem;
    padding: 0.5rem;
    margin-top: 0.5rem; 
    margin-bottom: 1rem;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.875rem; 
    border-radius: 5px;
    border: solid 1px #d1d6d8;
    background-color: var(--white);
    outline: none;
}

.o-campo:focus{
    border-color:#2EB1E5;
}

.o-camposderechos{
    margin-left: 1rem;
}

.o-terminosycondiciones{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.o-terminosycondiciones label{
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.875rem; 
}

.o-terminosycondiciones label a{
    text-decoration: none;
    color: #2EB1E5;
}

input[type="checkbox"]{
    width: 1.125rem;
    height: 1.125rem;  
    margin-right: 0.5rem;  
}

.o-crearcuenta{    
    display: flex;
    justify-content: center;
}

.o-botoncrearcuenta{
    margin-top: 2rem;
    padding: 0.5rem 7.8125rem 0.5rem 7.8125rem;
    font-family:'Poppins', sans-serif;    
    border-radius: 5px;
    border: none;
    outline: none;
    background: #2EB1E5 ;
    color: white; 
}

.o-tenercuenta{
    text-align: center;
    margin-top: 1rem;
}

.o-tenercuenta a{
    text-decoration: none;
    color: #2EB1E5;
}

.s-vinculo
{
    color: #2eb1e5;
    font-weight: bold;
    text-decoration-line: none;
}

.s-etiqueta
{
    font-size: 0.84rem;
    
}