.Carrousel{
    display: flex; 
    background-color: #EEEEEE;   
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    height: 4rem;
    width: auto;
    justify-content: space-between;
    margin-top: 0.5rem;
    align-items: center;
}