.InfoCard{
    height: 25.5rem;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    padding: 1rem 2rem 0rem 2rem;
    
}

.contentCarac{
    display: flex;
    justify-content: space-around;
    align-items: center;
}