.TittleInfoCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0rem;
}

.content{
    display: flex;
    align-items: center;
}

.title{
    margin: 0rem;
}